{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>{{ message }}</p>

{% if item_name %}
<div class="review-card">
    <h3>{{ item_name }}</h3>
</div>
{% endif %}

<form action="{{ action_url }}" method="post">

    <input type="hidden"
           name="csrf_token"
           value="{{ session.csrf_token }}">

    <button class="button danger" type="submit">
        <img src="/static/icons/delete.svg" alt="" class="button-icon"> {{ confirm_button }}</button>

    <a class="button" href="{{ cancel_url }}">
        <img src="/static/icons/return.svg" alt="" class="button-icon">
        Peruuta
    </a>

</form>

{% endblock %}