{% extends "layout.html" %}

{% block content %}

<div class="hero">

    <h2>Tervetuloa Kirjalokiin!</h2>

   <div class="hero-images">

    <img
        src="/static/books_1.png"
        alt="Kirjoja"
        class="hero-image hero-left"
    >

    <img
        src="/static/books_2.png"
        alt="Kirjoja"
        class="hero-image hero-right"
    >

</div>

    <p class="hero-text">
        Kirjaloki on sovellus, jossa käyttäjät voivat jakaa
        kirja-arvioitaan ja lukukokemuksiaan. 
        <br>
        Lisää toimintoja tulossa pian!
    </p>

    <p class="licence-text">
        Kuvat generoitu tekoälyllä.
    </p>

</div>

{% endblock %}