{% extends "layout.html" %}

{% block content %}

<div class="auth-box">

    <img src="/static/books_4.png" alt="" class="auth-icon">

    <h2>Kirjaudu sisään</h2>

    {% if registered %}
    <p class="success">
        Käyttäjä luotu onnistuneesti. Voit nyt kirjautua sisään.
    </p>
    {% endif %}

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form action="/login" method="post">

        <input type="hidden"
               name="csrf_token"
               value="{{ session.csrf_token }}">

        <p>
            Käyttäjätunnus:<br>
            <input type="text" name="username">
        </p>

        <p>
            Salasana:<br>
            <input type="password" name="password">
        </p>

        <button class="button" type="submit">
            <img src="/static/icons/login.svg" alt="" class="button-icon">
            Kirjaudu sisään
        </button>

    </form>

    <p class="auth-link">
    Eikö sinulla ole vielä tunnusta?
    <a href="/register">Luo tunnus</a>
    </p>

</div>

{% endblock %}