{% extends "layout.html" %}

{% block content %}

<div class="form-box">

    <h2 class="page-title">
    <img src="/static/quill.png" alt="" class="page-title-icon">
    Uusi kirja-arvio
    </h2>

    {% if errors %}
    <ul class="error-list">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/new_review" method="post">

        <input type="hidden"
               name="csrf_token"
               value="{{ session.csrf_token }}">

        <p>
            Kirjan nimi:<br>
            <input type="text" name="title" value="{{ form_data.title }}">
        </p>

        <p>
            Kirjailija:<br>
            <input type="text" name="author" value="{{ form_data.author }}">
        </p>

        <p>
            Arvosana (1-5):<br>
            <input type="number" name="rating" min="1" max="5" value="{{ form_data.rating }}">
        </p>

        <p>
            Arvio:<br>
            <textarea name="review" rows="5" cols="40">{{ form_data.review }}</textarea>
        </p>

        <p>
            Genret, valitse enintään 5:<br>

            {% for genre in genres %}
                <label>
                    <input
                        type="checkbox"
                        name="genres"
                        value="{{ genre.id }}"
                        {% if genre.id in selected_genre_ids %}checked{% endif %}
                    >
                    {{ genre.name }}
                </label>
                <br>
            {% endfor %}
        </p>

        <button class="button" type="submit">
            <img src="/static/icons/check.svg" alt="" class="button-icon">
            Lisää arvio
        </button>

    </form>

</div>

{% endblock %}