{% extends "layout.html" %}

{% block content %}

<h2>Uusi kirja-arvio</h2>

<form action="/new_review" method="post">
    <p>
        Kirjan nimi:<br>
        <input type="text" name="title">
    </p>

    <p>
        Kirjailija:<br>
        <input type="text" name="author">
    </p>

    <p>
        Arvosana:<br>
        <input type="number" name="rating" min="1" max="5">
    </p>

    <p>
        Arvio:<br>
        <textarea name="review" rows="5" cols="40"></textarea>
    </p>

    <input type="submit" value="Lisää arvio">
</form>

{% endblock %}