{% extends "layout.html" %}

{% block content %}

<h2>Luo tunnus</h2>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form action="/register" method="post">
    
    <input type="hidden"
           name="csrf_token"
           value="{{ session.csrf_token }}">
    
    <p>
        Käyttäjätunnus:<br>
        <input type="text" name="username" value="{{ username }}">
    </p>

    <p>
        Salasana:<br>
        <input type="password" name="password">
    </p>

    <p>
        Salasana uudelleen:<br>
        <input type="password" name="password2">
    </p>

    <p class="password-hint">
    * Salasanan tulee olla vähintään 8 merkkiä pitkä 
    <br>
    eikä se saa olla liian yleinen tai sama kuin käyttäjätunnus.
    </p>

    <input type="submit" value="Luo tunnus">
</form>

{% endblock %}