{% extends "layout.html" %}

{% block content %}

<div class="form-box">

    <h2 class="page-title">
    <img src="/static/star.png" alt="" class="page-title-icon">
    Kirja-arviot
    </h2>

    <p>
        <a class="button" href="/new_review">
            <img src="/static/icons/add.svg" alt="" class="button-icon">
            Lisää uusi arvio
        </a>
    </p>

    <form action="/reviews" method="get">
        <p>
            Suodata genren mukaan:<br>

            <select name="genre_id" class="genre-select">
                <option value="">Kaikki genret</option>

                {% for genre in genres %}
                    <option
                        value="{{ genre.id }}"
                        {% if selected_genre_id == genre.id|string %}selected{% endif %}
                    >
                        {{ genre.name }}
                    </option>
                {% endfor %}
            </select>

            <button class="button" type="submit"><img src="/static/icons/filter.svg" alt="" class="button-icon"> Suodata</button>

            <a class="button" href="/reviews"><img src="/static/icons/delete.svg" alt="" class="button-icon"> Tyhjennä suodatus</a>
        </p>
    </form>

</div>

{% for review in reviews %}

<div class="review-card">

    <h3>{{ review.title }}</h3>

    <p><strong>Kirjailija:</strong> {{ review.author }}</p>

    {% if review_genres[review.id] %}
        <p>
            <strong>Genret:</strong>
            {% for genre in review_genres[review.id] %}
                <span class="genre-badge">{{ genre.name }}</span>
            {% endfor %}
        </p>
    {% endif %}

    <p>
    <strong>Arvion kirjoittaja:</strong>
    <a href="/user/{{ review.user_id }}">{{ review.username }}</a>
    <span class="timestamp">• {{ review.created_at }}</span>
    </p>

    <p><strong>Arvosana:</strong> {{ review.rating }}/5</p>

    <p>
        {{ review.review[:250] }}
        {% if review.review|length > 250 %}
            ...
        {% endif %}
    </p>

    <p>
        <a class="button" href="/review/{{ review.id }}">
            <img
                src="/static/icons/look.svg"
                alt=""
                class="button-icon"
            >
            Lue arvio
        </a>
    </p>

    {% if session.user_id == review.user_id %}
    <div class="actions">

        <a class="button" href="/edit_review/{{ review.id }}">
            <img
                src="/static/icons/edit.svg"
                alt=""
                class="button-icon"
            >
            Muokkaa
        </a>

        <a class="button danger" href="/delete_review/{{ review.id }}">
            <img
                src="/static/icons/delete.svg"
                alt=""
                class="button-icon"
            >
            Poista
        </a>

    </div>
    {% endif %}

</div>

{% endfor %}

{% if reviews|length == 0 %}
<p>Ei kirja-arvioita.</p>
{% endif %}

{% endblock %}